In [30]:
#converting all the values to integer value 
x=int(1)
y=int(2.8)
z=int("34")
print(x)
print(y)
print(z)

1
2
34

In [9]:
#converting all the values to float value 
x=float(1)
print(x)
y=float(.0)
print(y)
z=float("45")
print(z)

1.0
0.0
45.0

In [11]:
#converting values in string 
x=str(56.0)
print(x)
y=str("45")
print(y)

56.0
45

In [13]:
#using division, modulous,floor division
x=30
y=11
print(x//y)
print(x/y)
print(x%y)

2
2.727272727272727
8

In [1]:
#creating a tuple 
t1=(12,23,45,78)
print(t1)

(12, 23, 45, 78)

In [7]:
#checking the tuple type 
t2=("abc","def","ghi")
type(t2)

tuple

In [2]:
#Accesing tuples items
t1=(12,23,45,678,56,35)
t1[:4]

(12, 23, 45, 678)

In [3]:

t1[3:6]

(678, 56, 35)

In [4]:
t1[-3:-1]

(678, 56)

In [ ]:
#for creating a single tuple a comma should  be used 
t2=("apple",)
#without comma it will be string
t3=("apple")
print(type(t2))
print(type(t3))

<class 'tuple'>
<class 'str'>

In [1]:
a="hello"
b="world"
c=a+b 
print(c)

helloworld

In [1]:
#using fstring 
age=32
txt=f"heloo world my age is {age}"
print(txt)

heloo world my age is 32

In [13]:
price=344.4577
txt=f"this is worth {price:.4f},is it good"
print(txt)

this is worth 344.4577,is it good

In [19]:
txt=f"my product of these twoo are {43*45}"
print(txt)

my product of these twoo are 1935

In [1]:
txt=("mera naam mogly hai mai jamun khata hu")
x=txt.capitalize()
print(x)

Mera naam mogly hai mai jamun khata hu

In [2]:
rj="juice pila do"
x=rj.title()
print(x)

Juice Pila Do

In [4]:
#string count
txt="i love apples,apple are good to health "
word= txt.count("apple")
print(word)

2

In [5]:
#string count using index 
txt="i love apples,apple are good to health "
word= txt.count("apple",10,24)
print(word)

1

In [17]:
txt="hello,welcome to my world"
s=txt.find('welcome')
print(s)
d=len("welcome")
result=s+d-1
print("ending index",result)

6
ending index 12

In [18]:
txt="hello,welcome to my world"
s=txt.find('bhai')
print(s)

-1

In [22]:
txt="hello,welcome to my world"
s=txt.index('e')
print(s)

1

In [24]:
txt="hello,welcome to my world"
s=txt.index('e')
d=txt.find("e")
print(d)
print(s)

1
1

In [27]:
mytuple=("raghav","ajay","bhavika")
x=" ".join(mytuple)
print(x)

raghav ajay bhavika

In [29]:
txt="i love to eat banana all the day"
x = txt.partition("banana")
print(x)

('i love to eat ', 'banana', ' all the day')

In [34]:
txt="i love to eat banana all the day"
x = txt.partition("eat")
print(x)

('i love to ', 'eat', ' banana all the day')

In [36]:
txt="i love to eat banana all the day"
x = txt.split()
print(x)

['i', 'love', 'to', 'eat', 'banana', 'all', 'the', 'day']

In [39]:
txt="hello,welcome to my world,THIS THE WORLD OF IMAGICA"
s=txt.split(",")
print(s)

['hello', 'welcome to my world', 'THIS THE WORLD OF IMAGICA']

In [44]:
mytuple=("raghav","ajay","bhavika")
x="#".join(mytuple)
print(x)
D=x.split("#")
print(D)
type(D)

raghav#ajay#bhavika
['raghav', 'ajay', 'bhavika']

list

In [51]:
txt="banana"
x=txt.center(20,"0")
print(x)

0000000banana0000000